* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    --orange: #f68741 ;
    --yellow:#fcdf87;
    --hover_yellow : #f68741;
    --pink: #ef0195;
    --blue:#1b96f3 ;
    --dark_blue: #10133a ;
    --black : black;
    --white : white;

}
body{
    background-color: var(--hover_yellow);
}

section{
    margin-bottom: 20%;
}
.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}

.card {
    margin: 10% 5%;
    margin-bottom: 20%;
}

.pr-5, .px-5 {
    padding-right: 3rem !important;
    margin-bottom: 15%;
}

a {
    color: var(--pink);
    text-decoration: none;
}
a:hover {
    color: var(--pink);
    text-decoration: underline;
}

.btn-info {
    color: var(--pink);
    background-color: var(--yellow);
}
.btn-info:hover {
    color: var(--pink);
    background-color: var(--yellow);
    border: 1px solid var(--pink);
}
.link-info:focus, .link-info:hover {
    color: var(--pink);
}
