* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    --orange: #f68741 ;
    --yellow:#fcdf87;
    --pink: #ef0195;
    --blue:#1b96f3 ; 
    --dark_blue: #10133a ;
    --black : black;
    --white : white;
  }
  
  /*  Navbar */


  /*  Container */

  /* Filter */

  /* Feed */

  .fa-heart {
    font-size: 25px;
    cursor: pointer;
    user-select: none;
  }
  
  .unliked {
    color:rgb(206, 202, 202);
  }
.liked {
    color : var(--pink);
}