* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    --orange: #f68741 ;
    --yellow:#fcdf87;
    --hover_yellow :#dabd66e5;
    --pink: #ef0195;
    --blue:#1b96f3 ; 
    --dark_blue: #10133a ;
    --black : black;
    --white : white;
  }
  
  /*  Navbar */
.navbar{
    background-color: var(--yellow);
}
#titleLogo{
    font-weight: bolder;
    color: var(--pink);
}

.navbar-brand:hover{
    background-color:var(--hover_yellow);
    border-radius: 15px;
}
#search{
    margin-right: 15%;
}
#researchbtn{
    float: left;
    width: 20%;
    color: white;
    font-size: 17px;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    border-left: none; /* Prevenrgba(24, 23, 23, 0.548)s */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}
#researchbtn:hover{
    background-color:var(--hover_yellow);
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    background-color: var(--hover_yellow);
    border-radius: 15px;

}



  /*  Container */
.btn-primary{
    color: var(--white);
    font-weight: bolder;
    background-color: var(--pink);
    border: none;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin : 2% 5%;

}
.btn-primary:hover {
    border: 1px var(--blue) solid;
}

  /* Filter */
  #filtercol, #userInfoUpdate{
    padding: 2%;
    background-color: var(--hover_yellow);
      border-top: var(--orange) 3px dotted;
      border-bottom:  var(--orange) 3px dotted;

}

#espece:focus{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#birthday{
    margin-top: 10%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: #ffffff;
    height: 48px;
}

#birthday:hover{
    color: #fff;
    background-color: #616467;
}

#filter_specifique{
    margin-top: 10%;
}

#filtrer{
    margin: 2%;
    width: 50%;
    height: 15%;
    padding: 3%;
    margin-top: 40%;
    margin-left: 10%;
    border: none;
    outline: none;
    border: 1px solid var(--pink);
    color: var(--black);
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#filtrer:hover{
    background: var(--pink);
    color: var(--white);

}
  /* Feed */

#feed, #userAnimalFeed{
    padding: 2%;
}
  /* Feed */
  .card {
    margin : 2% 5%;
    border-radius: 15px;
    padding: 2%;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
}

  .card-title{
    display: inline;
    background-color: var(--blue);
    padding: 3%;
    border-radius: 15px;
  }

 
  .card-body{
      text-align: center;
  }
  .card-text{

  }
  .fa-heart-o {
    color: var(--pink);
    cursor: pointer;
  }
  
  .fa-heart {
    color: var(--pink);
    cursor: pointer;
  }
  

    /* Footer */

.footer{
    background-color: rgb(241, 241, 241) ;
}
.cpr{
    background-color: rgb(241, 241, 241) ;
}

.lk{
    text-align: left;
}
 /* 
        ------------------------------------------------------
                responsive to windows size
        ------------------------------------------------------
 
 */


    @media screen and (min-width: 601px) {
   
    }
    
  /*700px and less */
   @media screen and (max-width: 900px) {
      h1 {
        font-size: 22px;
      }

      #birthday{
        font-size: 10px;
        border-radius: 500px;
        transition-duration: .3s;
        border: 1px solid transparent;
        letter-spacing: 2px;
        min-width: 100px;
        height: 20px;
        padding-bottom: 30%;
    }
    }
  